# build/test only requirements: not installed in Docker image
black==23.7.0
grpc-stubs==1.53.0.2  # mypy types for grpcio? TODO: test/verify?
grpcio-tools==1.56.2
mypy==1.4.1
pytest==7.4.0
types-protobuf==4.23.0.2  # mypy types for protobuf
